body {
    margin: 0;
    padding: 0;
}

#loginBar {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
}

#product {
    display: flex;
}

#product img {
    width: 700px;
    height: 500px;
    margin-right: 20px; 
}

#productDescription {
    text-align: right;
    max-width: 300px; 
}
.reg {
    background-color: black;
    color: gold;
    font-size: 20px;
}

.error {
    background-color: black;
    color: red;
    font-size: 40px;
}

.registerBtn {
    margin: 10px;
    background-color: rgb(253, 253, 253);
    border: none;
    color: rgb(255, 0, 0);
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 16px;
}

#registerBody {
    background-color: black;
    color: red;
    padding: 3rem;
}