h1 {
  color: #000000;
  background-color: #f0f0f0;
  text-align: center;
  align-items: center;
  font-size: 55px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: auto;
  height: 5rem;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

#loginBar {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}

#product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product img {
  width: 700px;
  margin-bottom: 10px;
  
}

#productDescription {
  margin-top: 25px; 
  text-align: center;
}

#product p {
  margin-top: 10px;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#cart {
  text-align: center;
}

.reg {
  background-color: #f0f0f0;
  font-size: 20px;
}

.userFunc {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

.error {
  background-color:  hsl(0, 0%, 0%);
  color: red;
  font-size: 40px;

}
.regText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 3px;
}
.registerBtn {
  margin: 10px;
  background-color: #ffba7d;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 16px;
}

.registerBtn:hover {background-color: #c7c69a}

.registerBtn:active {
  background-color: #c7c69a;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.otherBtn {
  margin: 10px;
  background-color: #ffba7d;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 10px;
}

.otherBtn:hover {background-color: #c7c69a}

.otherBtn:active {
  background-color: #c7c69a;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

#productcontainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.container {
  border: 1px solid;
  padding-left: 20px;
}
