<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beskrivning</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Detaljerad beskrivning!</h1>
    <div id="loginBar">
      <span th:if="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/logout}"><button class="otherBtn">Logga ut</button></a>
      </span>
      <span th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}"><button class="otherBtn">Logga in</button></a>
      </span>
      <a th:href="@{/register}"><button class="otherBtn">Registrera</button></a>
      <a th:href="@{/}"><button class="otherBtn">Hem</button></a>
      <div sec:authorize="isAuthenticated()">
        <p class="userFunc">Användarfunktioner:</p>
        <a th:href="@{/orders}"><button class="otherBtn">Mina ordrar</button></a>
      </div>
    </div>
    <div id="product">
        <img th:src="${product.image}" alt="Product Image">
        <p id="productDescription" th:text="${product.description}">
        </p>
        <p>
        </br>
        </br>
            Pris: <span th:text="${product.price}"></span> kr
        </p>
    </div>
    <div sec:authorize="isAuthenticated()">
        <button class="otherBtn">Lägg till i kundvagn</button>
    </div>
</body>
</html>