<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Startsidan</h1>
    <div id="loginBar">
      <a th:href="@{/login}"><button id="loginBtn">Logga in</button></a>
      <a th:href="@{/register}"><button id="registerBtn">Registrera</button></a>
      <a th:href="@{/}"><button id="homeBtn">Hem</button></a>
      <div sec:authorize="isAuthenticated()">
        <p>Användarfunktioner:</p>
        <a th:href="@{/orders}"><button id="cartBtn">Mina ordrar</button></a>
      </div>
  </div>
  </div>
    <div th:each="product : ${products}">
      <h2 th:text="${product.name}"></h2>
      <img th:src="${product.image}" width="200" />
      <h3>Pris</h3>
      <p th:text="${product.price}"></p>
      <a th:href="@{/details(productId=${product.id})}">
        <button>More Details</button>
      </a>
    </div>
  </body>
</html>
