<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mina ordrar</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>    
    
    <h1>Mina ordrar!</h1>  

    <div id="loginBar">
      <span th:if="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/logout}"><button class="otherBtn">Logga ut</button></a>
      </span>
      <span th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}"><button class="otherBtn">Logga in</button></a>
      </span>
      <a th:href="@{/register}"><button class="otherBtn">Registrera</button></a>
      <a th:href="@{/}"><button class="otherBtn">Hem</button></a>
      <div sec:authorize="isAuthenticated()">
        <p class="userFunc">Användarfunktioner:</p>
        <a th:href="@{/orders}"><button class="otherBtn">Mina ordrar</button></a>
      </div>
    </div>
</body>
</html>