<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrera</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body id="registerBody">
    <h1>Registrera ny användare!</h1>
    <div id="loginBar">
      <span th:if="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/logout}"><button class="otherBtn">Logga ut</button></a>
      </span>
      <span th:unless="${#authorization.expression('isAuthenticated()')}">
        <a th:href="@{/login}"><button class="otherBtn">Logga in</button></a>
      </span>
      <a th:href="@{/register}"><button class="otherBtn">Registrera</button></a>
      <a th:href="@{/}"><button class="otherBtn">Hem</button></a>
      <div sec:authorize="isAuthenticated()">
        <p class="userFunc">Användarfunktioner:</p>
        <a th:href="@{/orders}"><button class="otherBtn">Mina ordrar</button></a>
      </div>
    </div>
    <form method="post" th:object="${user}" th:action="@{register/addUser}">
      <p class="regText">Förnamn:</p>
      <label class="reg" for="firstname"></label>
      <input type="text" id="firstname" name="firstname" required /><br />

      <p class="regText">Efternamn:</p>
      <label class="reg" for="lastname"></label>
      <input type="text" id="lastname" name="lastname" required /><br />

      <p class="regText">Email:</p>
      <label class="reg" for="email"></label>
      <input type="text" id="email" name="email" required /><br />

      <p class="regText">Användarnamn:</p>
      <label class="reg" for="username"></label>
      <input type="text" id="username" name="username" required /><br />

      <p class="regText">Lösenord:</p>
      <label class="reg" for="password"></label>
      <input type="password" id="password" name="password" required /><br />

      <p class="regText">Bekräfta lösenord:</p>
      <label class="reg" for="confirmPassword"></label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
      /><br />

      <div th:if="${passwordMismatch}" class="error">
        Lösenord och bekräfta lösenord stämmer inte överens!
        <button class="registerBtn">
          <a href="/register">Försök igen!</a>
        </button>
      </div>

      <button class="registerBtn" type="submit">Lägg till användare</button>
    </form>
  </body>
</html>
